body{
    direction: rtl;
    margin: 0;
}
p{
    margin: 0 !important;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #fff;
    height: 90px;
    align-items: center;
    padding: 0 1rem;
}
.header-options{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-evenly;
}
.search-box{
    height: 400px;
    background-image: url('images/Rectangle\ 3.svg');
}

.enter button{
    background-color: #266B91;
    color: #fff;
    border: none;
    border-radius: 8px;
    height: 2.5rem;
    width: 7rem;
}
.site-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.site-title h2{
    color: #fff;
}
.search{
    width: 40%;
    height: 3rem;
    background-color: #fff;
    border-radius: 32px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem 1rem;
}
.search-input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.search-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #266B91;
}
.search-dropdown{
    width: 90px;
    height: 40px;
    border: 1px solid #266B91;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #266B91;
    margin-left: 10px;
}
.search-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}
.pairs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15%;

}
.pairs h3{
    color: #fff;
    font-size: 24px !important;
}
.middle{
    border-left: 2px dashed #323232;
    border-right: 2px dashed #323232;

}
.frequent-search{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}
.results{
    border: 1px solid #266B91;
    color: #266B91;
    padding: 0.3rem 0.7rem;
    border-radius:32px;
    width:  9%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.frequent-search h4{
    width: 12%;
}
.results-list{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.site-services{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem;
    width: 100%;
}
.service{
    width: 20%;
    height: 10rem;
    border-radius: 48px 0 48px 48px;
    border: 2px solid #266B91;
    display: flex;
    align-items: center;
    justify-content: center;
}
.odd{
    background-color: #266B91;
    color: #fff;
}
.even{
    background-color: #fff;
    color: #266B91;
}