.e196_1076 { 
	background-color:rgba(255, 255, 255, 1);
	width:360px;
	height:640px;
	position:absolute;}
.e192_937 { 
	background-color:rgba(192.5108027458191, 219.5879977941513, 251.37421935796738, 1);
	width:360px;
	height:640px;
	position:absolute;
	left:0px;
	top:0px;}
.e192_963 { 
	transform: rotate(90deg);
	width:15.893819808959961px;
	height:7.784169673919678px;
	left:20.7841796875px;
	top:16px;}
.e192_964 { 
	transform: rotate(135deg);
	width:11.00806713104248px;
	height:0px;
	position:absolute;
	left:0px;
	top:0px;}
.e192_965 { 
	transform: rotate(45deg);
	width:11.00806713104248px;
	height:0px;
	position:absolute;
	left:-7.784169673919678px;
	top:8.109941482543945px;}
.e192_946 { 
	width:250.75384521484375px;
	height:16px;
	position:absolute;
	left:55px;
	top:202px;}
.e192_942 { 
	color:rgba(0, 0, 0, 1);
	width:236px;
	height:16px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Vazirmatn;
	text-align:center;
	font-size:10px;
	letter-spacing:0;}
.e192_945 { 
	width:9.753846168518066px;
	height:13.782608032226562px;
	position:absolute;
	left:241px;
	top:0px;}
.e192_943 { 
	width:9.753846168518066px;
	height:13.782608032226562px;
	position:absolute;
	left:0px;
	top:0px;}
.e192_944 { 
	border-radius:500px;
	background-color:rgba(192.5108027458191, 219.5879977941513, 251.37421935796738, 1);
	width:4.664882659912109px;
	height:4.664882659912109px;
	position:absolute;
	left:2.544600009918213px;
	top:2.544344663619995px;}
.e192_941 { 
	color:rgba(0, 0, 0, 1);
	width:67px;
	height:19px;
	position:absolute;
	left:146px;
	top:179px;
	font-family:Vazirmatn;
	text-align:center;
	font-size:12px;
	letter-spacing:0;}
.e192_940 { 
	border-radius:500px;
	width:53px;
	height:53px;
	position:absolute;
	left:153px;
	top:116px;
	background-image:url(images/ellipse_62.png);
	background-repeat:no-repeat;
	background-size:cover;}
.e192_938 { 
	width:290px;
	height:0px;
	position:absolute;
	left:35px;
	top:106px;}
.e192_927 { 
	color:rgba(38.0000015348196, 107.00000122189522, 145.00000655651093, 1);
	width:290px;
	height:23px;
	position:absolute;
	left:35px;
	top:63px;
	font-family:Vazirmatn;
	text-align:center;
	font-size:15px;
	letter-spacing:0;}
.e192_1028 { 
	background-color:rgba(38.0000015348196, 107.00000122189522, 145.00000655651093, 1);
	width:290px;
	height:89px;
	position:absolute;
	left:35px;
	top:229px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;}
.e192_1027 { 
	width:290px;
	height:89px;
	position:absolute;
	left:35px;
	top:229px;}
.e192_1026 { 
	width:490px;
	height:79.87710571289062px;
	position:absolute;
	left:-200px;
	top:9px;}
.e192_966 { 
	width:80px;
	height:79.87710571289062px;
	position:absolute;
	left:410px;
	top:0px;}
.e192_967 { 
	background-color:rgba(255, 255, 255, 1);
	width:64.8392333984375px;
	height:72.67938995361328px;
	position:absolute;
	left:7.8730573654174805px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;}
.e192_968 { 
	color:rgba(38.0000015348196, 107.00000122189522, 145.00000655651093, 1);
	width:33.513511657714844px;
	height:33.58713150024414px;
	position:absolute;
	left:23.7841796875px;
	top:7.115644454956055px;
	font-family:Vazirmatn;
	text-align:center;
	font-size:10px;
	letter-spacing:0;}
.e192_969 { 
	color:rgba(38.0000015348196, 107.00000122189522, 145.00000655651093, 1);
	width:80px;
	height:33.58713150024414px;
	position:absolute;
	left:0px;
	top:26.70281982421875px;
	font-family:Vazirmatn;
	text-align:center;
	font-size:10px;
	letter-spacing:0;}
.e192_970 { 
	color:rgba(38.0000015348196, 107.00000122189522, 145.00000655651093, 1);
	width:61.621620178222656px;
	height:33.58713150024414px;
	position:absolute;
	left:9.728515625px;
	top:46.28997802734375px;
	font-family:Vazirmatn;
	text-align:center;
	font-size:10px;
	letter-spacing:0;}
.e192_971 { 
	width:73.69578552246094px;
	height:73px;
	position:absolute;
	left:345px;
	top:0px;}
.e192_972 { 
	background-color:rgba(255, 255, 255, 1);
	width:65px;
	height:73px;
	position:absolute;
	left:4px;
	top:0px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;}
.e192_973 { 
	color:rgba(0, 0, 0, 1);
	width:51px;
	height:31px;
	position:absolute;
	left:11px;
	top:7px;
	font-family:Vazirmatn;
	text-align:center;
	font-size:10px;
	letter-spacing:0;}
.e192_974 { 
	color:rgba(0, 0, 0, 1);
	width:73.69578552246094px;
	height:16px;
	position:absolute;
	left:0px;
	top:27px;
	font-family:Vazirmatn;
	text-align:center;
	font-size:10px;
	letter-spacing:0;}
.e192_975 { 
	color:rgba(0, 0, 0, 1);
	width:56.76567459106445px;
	height:16px;
	position:absolute;
	left:8px;
	top:46px;
	font-family:Vazirmatn;
	text-align:center;
	font-size:10px;
	letter-spacing:0;}
.e192_976 { 
	width:73.69578552246094px;
	height:73px;
	position:absolute;
	left:345px;
	top:0px;}
.e192_977 { 
	background-color:rgba(255, 255, 255, 1);
	width:65px;
	height:73px;
	position:absolute;
	left:4px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;}
.e192_978 { 
	color:rgba(0, 0, 0, 1);
	width:51px;
	height:31px;
	position:absolute;
	left:11px;
	top:7px;
	font-family:Vazirmatn;
	text-align:center;
	font-size:10px;
	letter-spacing:0;}
.e192_979 { 
	color:rgba(0, 0, 0, 1);
	width:73.69578552246094px;
	height:16px;
	position:absolute;
	left:0px;
	top:27px;
	font-family:Vazirmatn;
	text-align:center;
	font-size:10px;
	letter-spacing:0;}
.e192_980 { 
	color:rgba(0, 0, 0, 1);
	width:56.76567459106445px;
	height:16px;
	position:absolute;
	left:8px;
	top:46px;
	font-family:Vazirmatn;
	text-align:center;
	font-size:10px;
	letter-spacing:0;}
.e192_1001 { 
	width:73.69578552246094px;
	height:73px;
	position:absolute;
	left:276px;
	top:0px;}
.e192_1002 { 
	background-color:rgba(255, 255, 255, 1);
	width:65px;
	height:73px;
	position:absolute;
	left:4px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;}
.e192_1003 { 
	color:rgba(0, 0, 0, 1);
	width:51px;
	height:31px;
	position:absolute;
	left:11px;
	top:7px;
	font-family:Vazirmatn;
	text-align:center;
	font-size:10px;
	letter-spacing:0;}
.e192_1004 { 
	color:rgba(0, 0, 0, 1);
	width:73.69578552246094px;
	height:16px;
	position:absolute;
	left:0px;
	top:27px;
	font-family:Vazirmatn;
	text-align:center;
	font-size:10px;
	letter-spacing:0;}
.e192_1005 { 
	color:rgba(0, 0, 0, 1);
	width:56.76567459106445px;
	height:16px;
	position:absolute;
	left:8px;
	top:46px;
	font-family:Vazirmatn;
	text-align:center;
	font-size:10px;
	letter-spacing:0;}
.e192_1006 { 
	width:73.69578552246094px;
	height:73px;
	position:absolute;
	left:207px;
	top:0px;}
.e192_1007 { 
	background-color:rgba(255, 255, 255, 1);
	width:65px;
	height:73px;
	position:absolute;
	left:4px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;}
.e192_1008 { 
	color:rgba(0, 0, 0, 1);
	width:51px;
	height:31px;
	position:absolute;
	left:11px;
	top:7px;
	font-family:Vazirmatn;
	text-align:center;
	font-size:10px;
	letter-spacing:0;}
.e192_1009 { 
	color:rgba(0, 0, 0, 1);
	width:73.69578552246094px;
	height:16px;
	position:absolute;
	left:0px;
	top:27px;
	font-family:Vazirmatn;
	text-align:center;
	font-size:10px;
	letter-spacing:0;}
.e192_1010 { 
	color:rgba(0, 0, 0, 1);
	width:56.76567459106445px;
	height:16px;
	position:absolute;
	left:8px;
	top:46px;
	font-family:Vazirmatn;
	text-align:center;
	font-size:10px;
	letter-spacing:0;}
.e192_1011 { 
	width:73.69578552246094px;
	height:73px;
	position:absolute;
	left:138px;
	top:0px;
}
.e192_1012 { 
	background-color:rgba(255, 255, 255, 1);
	width:65px;
	height:73px;
	position:absolute;
	left:4px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;}
.e192_1013 { 
	color:rgba(0, 0, 0, 1);
	width:51px;
	height:31px;
	position:absolute;
	left:11px;
	top:7px;
	font-family:Vazirmatn;
	text-align:center;
	font-size:10px;
	letter-spacing:0;}
.e192_1014 { 
	color:rgba(0, 0, 0, 1);
	width:73.69578552246094px;
	height:16px;
	position:absolute;
	left:0px;
	top:27px;
	font-family:Vazirmatn;
	text-align:center;
	font-size:10px;
	letter-spacing:0;}
.e192_1015 { 
	color:rgba(0, 0, 0, 1);
	width:56.76567459106445px;
	height:16px;
	position:absolute;
	left:8px;
	top:46px;
	font-family:Vazirmatn;
	text-align:center;
	font-size:10px;
	letter-spacing:0;}
.e192_1016 { 
	width:73.69578552246094px;
	height:73px;
	position:absolute;
	left:69px;
	top:0px;}
.e192_1017 { 
	background-color:rgba(255, 255, 255, 1);
	width:65px;
	height:73px;
	position:absolute;
	left:4px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;}
.e192_1018 { 
	color:rgba(0, 0, 0, 1);
	width:51px;
	height:31px;
	position:absolute;
	left:11px;
	top:7px;
	font-family:Vazirmatn;
	text-align:center;
	font-size:10px;
	letter-spacing:0;}
.e192_1019 { 
	color:rgba(0, 0, 0, 1);
	width:73.69578552246094px;
	height:16px;
	position:absolute;
	left:0px;
	top:27px;
	font-family:Vazirmatn;
	text-align:center;
	font-size:10px;
	letter-spacing:0;}
.e192_1020 { 
	color:rgba(0, 0, 0, 1);
	width:56.76567459106445px;
	height:16px;
	position:absolute;
	left:8px;
	top:46px;
	font-family:Vazirmatn;
	text-align:center;
	font-size:10px;
	letter-spacing:0;}
.e192_1021 { 
	width:73.69578552246094px;
	height:73px;
	position:absolute;
	left:0px;
	top:0px;}
.e192_1022 { 
	background-color:rgba(255, 255, 255, 1);
	width:65px;
	height:73px;
	position:absolute;
	left:4px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;}
.e192_1023 { 
	color:rgba(0, 0, 0, 1);
	width:51px;
	height:31px;
	position:absolute;
	left:11px;
	top:7px;
	font-family:Vazirmatn;
	text-align:center;
	font-size:10px;
	letter-spacing:0;}
.e192_1024 { 
	color:rgba(0, 0, 0, 1);
	width:73.69578552246094px;
	height:16px;
	position:absolute;
	left:0px;
	top:27px;
	font-family:Vazirmatn;
	text-align:center;
	font-size:10px;
	letter-spacing:0;}
.e192_1025 { 
	color:rgba(0, 0, 0, 1);
	width:56.76567459106445px;
	height:16px;
	position:absolute;
	left:8px;
	top:46px;
	font-family:Vazirmatn;
	text-align:center;
	font-size:10px;
	letter-spacing:0;}
.e196_1059 { 
	width:289px;
	height:24px;
	position:absolute;
	left:35px;
	top:339px;}
.e196_1056 { 
	width:58px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;}
.e196_1057 { 
	background-color:rgba(33.00000183284283, 170.0000050663948, 225.00000178813934, 1);
	width:58px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;}
.e196_1058 { 
	color:rgba(255, 255, 255, 1);
	width:26px;
	height:16px;
	position:absolute;
	left:16px;
	top:4px;
	font-family:Vazirmatn;
	text-align:right;
	font-size:10px;
	letter-spacing:0;}
.e196_1053 { 
	width:58px;
	height:24px;
	position:absolute;
	left:77px;
	top:0px;}
.e196_1054 { 
	background-color:rgba(33.00000183284283, 170.0000050663948, 225.00000178813934, 1);
	width:58px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;}
.e196_1055 { 
	color:rgba(255, 255, 255, 1);
	width:26px;
	height:16px;
	position:absolute;
	left:16px;
	top:4px;
	font-family:Vazirmatn;
	text-align:right;
	font-size:10px;
	letter-spacing:0;}
.e196_1050 { 
	width:58px;
	height:24px;
	position:absolute;
	left:154px;
	top:0px}
.e196_1051 { 
	background-color:rgba(33.00000183284283, 170.0000050663948, 225.00000178813934, 1);
	width:58px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;}
.e196_1052 { 
	color:rgba(255, 255, 255, 1);
	width:26px;
	height:16px;
	position:absolute;
	left:16px;
	top:4px;
	font-family:Vazirmatn;
	text-align:right;
	font-size:10px;
	letter-spacing:0;}
.e195_1029 { 
	width:58px;
	height:24px;
	position:absolute;
	left:231px;
	top:0px;}
.e195_1030 { 
	background-color:rgba(33.00000183284283, 170.0000050663948, 225.00000178813934, 1);
	width:58px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;}
.e195_1031 { 
	color:rgba(255, 255, 255, 1);
	width:26px;
	height:16px;
	position:absolute;
	left:16px;
	top:4px;
	font-family:Vazirmatn;
	text-align:right;
	font-size:10px;
	letter-spacing:0;}
.e196_1060 { 
	width:289px;
	height:24px;
	position:absolute;
	left:35px;
	top:371px;}
.e196_1061 { 
	width:58px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;}
.e196_1062 { 
	background-color:rgba(33.00000183284283, 170.0000050663948, 225.00000178813934, 1);
	width:58px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;}
.e196_1063 { 
	color:rgba(255, 255, 255, 1);
	width:26px;
	height:16px;
	position:absolute;
	left:16px;
	top:4px;
	font-family:Vazirmatn;
	text-align:right;
	font-size:10px;
	letter-spacing:0;}
.e196_1064 { 
	width:58px;
	height:24px;
	position:absolute;
	left:77px;
	top:0px;}
.e196_1065 { 
	background-color:rgba(33.00000183284283, 170.0000050663948, 225.00000178813934, 1);
	width:58px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;}
.e196_1066 { 
	color:rgba(255, 255, 255, 1);
	width:26px;
	height:16px;
	position:absolute;
	left:16px;
	top:4px;
	font-family:Vazirmatn;
	text-align:right;
	font-size:10px;
	letter-spacing:0;}
.e196_1067 { 
	width:58px;
	height:24px;
	position:absolute;
	left:154px;
	top:0px;}
.e196_1068 { 
	background-color:rgba(33.00000183284283, 170.0000050663948, 225.00000178813934, 1);
	width:58px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;}
.e196_1069 { 
	color:rgba(255, 255, 255, 1);
	width:26px;
	height:16px;
	position:absolute;
	left:16px;
	top:4px;
	font-family:Vazirmatn;
	text-align:right;
	font-size:10px;
	letter-spacing:0;}
.e196_1070 { 
	width:58px;
	height:24px;
	position:absolute;
	left:231px;
	top:0px;}
.e196_1071 { 
	background-color:rgba(33.00000183284283, 170.0000050663948, 225.00000178813934, 1);
	width:58px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;}
.e196_1072 { 
	color:rgba(255, 255, 255, 1);
	width:26px;
	height:16px;
	position:absolute;
	left:16px;
	top:4px;
	font-family:Vazirmatn;
	text-align:right;
	font-size:10px;
	letter-spacing:0;}
.e196_1073 { 
	width:58px;
	height:24px;
	position:absolute;
	left:266px;
	top:403px;}
.e196_1074 { 
	background-color:rgba(33.00000183284283, 170.0000050663948, 225.00000178813934, 1);
	width:58px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;}
.e196_1075 { 
	color:rgba(255, 255, 255, 1);
	width:26px;
	height:16px;
	position:absolute;
	left:16px;
	top:4px;
	font-family:Vazirmatn;
	text-align:right;
	font-size:10px;
	letter-spacing:0;}
.e196_1080 { 
	background-color:rgba(17.984298169612885, 194.42421287298203, 46.21469333767891, 1);
	width:290px;
	height:50px;
	position:absolute;
	left:34px;
	top:550px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;}
.e196_1081 { 
	color:rgba(255, 255, 255, 1);
	width:90px;
	height:38px;
	position:absolute;
	left:134px;
	top:556px;
	font-family:Vazirmatn;
	text-align:center;
	font-size:24px;
	letter-spacing:0;}
