
button {
  outline: 0;}
.main-container {
  position: relative;
  width: 360px;
  height: 640px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;}
.group {
  position: relative;
  width: 7.784px;
  height: 15.894px;
  margin: 16px 0 0 13px;
  background: url(./assets/images/82290673-9838-4c33-a447-6a6020a5197d.png)
    no-repeat center;
  background-size: cover;
  z-index: 1;}
.visit-appointment {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 290px;
  height: 23px;
  margin: 31.106px 0 0 35px;
  color: #266b91;
  font-family: Vazirmatn, var(--default-font-family);
  font-size: 15px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  white-space: nowrap;
  z-index: 8;}
.line {
  position: relative;
  width: 290px;
  height: 0.5px;
  margin: 19.5px 0 0 35px;
  background: url(./assets/images/8f708452-7a46-478c-a59a-e835cb0ae744.png)
    no-repeat center;
  background-size: cover;
  z-index: 7;}
.ellipse {
  position: relative;
  width: 53px;
  height: 53px;
  margin: 10px 0 0 153px;
  background: url(./assets/images/6e36f4ef-9867-4e14-9539-f8a1f788166e.png)
    no-repeat center;
  background-size: cover;
  z-index: 6;
  border-radius: 50%;}
.doctor-name {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 67px;
  height: 19px;
  margin: 10px 0 0 146px;
  color: #000000;
  font-family: Vazirmatn, var(--default-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 18.75px;
  text-align: center;
  white-space: nowrap;
  z-index: 5;}
.group-1 {
  position: relative;
  width: 250.754px;
  height: 16px;
  margin: 4px 0 0 55px;
  z-index: 2;}
.address {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 236px;
  height: 16px;
  top: 0;
  left: 0;
  color: #000000;
  font-family: Vazirmatn, var(--default-font-family);
  font-size: 10px;
  font-weight: 700;
  line-height: 15.625px;
  text-align: center;
  white-space: nowrap;
  z-index: 3;}
.group-2 {
  position: absolute;
  width: 9.754px;
  height: 13.783px;
  top: 0;
  left: 241px;
  background: url(./assets/images/dd544ebd-dda5-4c57-be4a-739b3ea941af.png)
    no-repeat center;
  background-size: cover;
  z-index: 4;}
.frame {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 19px;
  position: relative;
  width: 289px;
  margin: 121px 0 0 35px;
  z-index: 52;}
.group-3 {
  flex-shrink: 0;
  position: relative;
  width: 58px;
  height: 24px;
  cursor: pointer;
  font-size: 0px;
  background: transparent;
  border: none;
  z-index: 53;
  border-radius: 5px;}
.time-18-45 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  width: 26px;
  height: 16px;
  margin: 4px 0 0 16px;
  color: #ffffff;
  font-family: Vazirmatn, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 15.625px;
  text-align: right;
  white-space: nowrap;
  z-index: 55;}
.rectangle {
  position: absolute;
  width: 58px;
  height: 24px;
  top: 0;
  left: 0;
  background: #21aae1;
  z-index: 54;
  border-radius: 5px;}
.group-4 {
  flex-shrink: 0;
  position: relative;
  width: 58px;
  height: 24px;
  cursor: pointer;
  font-size: 0px;
  background: transparent;
  border: none;
  z-index: 56;
  border-radius: 5px;}
.time-18-30 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  width: 26px;
  height: 16px;
  margin: 4px 0 0 16px;
  color: #ffffff;
  font-family: Vazirmatn, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 15.625px;
  text-align: right;
  white-space: nowrap;
  z-index: 58;}
.rectangle-5 {
  position: absolute;
  width: 58px;
  height: 24px;
  top: 0;
  left: 0;
  background: #21aae1;
  z-index: 57;
  border-radius: 5px;}
.group-6 {
  flex-shrink: 0;
  position: relative;
  width: 58px;
  height: 24px;
  cursor: pointer;
  font-size: 0px;
  background: transparent;
  border: none;
  z-index: 59;
  border-radius: 5px;}
.time-18-15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  width: 26px;
  height: 16px;
  margin: 4px 0 0 16px;
  color: #ffffff;
  font-family: Vazirmatn, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 15.625px;
  text-align: right;
  white-space: nowrap;
  z-index: 61;}
.rectangle-7 {
  position: absolute;
  width: 58px;
  height: 24px;
  top: 0;
  left: 0;
  background: #21aae1;
  z-index: 60;
  border-radius: 5px;}
.button-group {
  flex-shrink: 0;
  position: relative;
  width: 58px;
  height: 24px;
  cursor: pointer;
  font-size: 0px;
  background: transparent;
  border: none;
  z-index: 62;
  border-radius: 5px;}
.time-18-00 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  width: 26px;
  height: 16px;
  margin: 4px 0 0 16px;
  color: #ffffff;
  font-family: Vazirmatn, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 15.625px;
  text-align: right;
  white-space: nowrap;
  z-index: 64;}
.rectangle-8 {
  position: absolute;
  width: 58px;
  height: 24px;
  top: 0;
  left: 0;
  background: #21aae1;
  z-index: 63;
  border-radius: 5px;
