.main-container {
  overflow: hidden;}
.main-container * {
  box-sizing: border-box;}
button {
  outline: 0;}
.main-container {
  position: relative;
  width: 1440px;
  height: 727px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;}
.rectangle {
  position: relative;
  width: 546px;
  height: 496px;
  margin: 92px 0 0 446px;
  background: #ffffff;
  z-index: 1;
  overflow: visible auto;
  border-radius: 15px;
  box-shadow: 10px 10px 4px 0 rgba(0, 0, 0, 0.25);}
.group {
  position: relative;
  width: 7.784px;
  height: 15.894px;
  margin: 25px 0 0 32px;
  background: url(./assets/images/a7cfb803-be82-480c-b8d5-7a5a63e28ad0.png)
    no-repeat center;
  background-size: cover;
  z-index: 14;}
.verification-code-1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 125px;
  height: 63px;
  margin: 15.106px 0 0 210px;
  color: #266b91;
  font-family: Vazirmatn, var(--default-font-family);
  font-size: 40px;
  font-weight: 700;
  line-height: 62.5px;
  text-align: center;
  white-space: nowrap;
  z-index: 5;}
.verification-code-message {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 378px;
  height: 68px;
  margin: 46px 0 0 82px;
  color: #000000;
  font-family: Vazirmatn, var(--default-font-family);
  font-size: 22px;
  font-weight: 700;
  line-height: 34.375px;
  text-align: center;
  z-index: 2;}
.flex-row-eb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 300px;
  height: 68px;
  margin: 21px 0 0 123px;
  z-index: 10;}
.rectangle-2 {
  flex-shrink: 0;
  position: relative;
  width: 53px;
  height: 68px;
  background: #ffffff;
  border: 1px solid #aeaeae;
  z-index: 10;
  border-radius: 10px;}
.rectangle-3 {
  flex-shrink: 0;
  position: relative;
  width: 53px;
  height: 68px;
  background: #ffffff;
  border: 1px solid #aeaeae;
  z-index: 9;
  border-radius: 10px;}
.rectangle-4 {
  flex-shrink: 0;
  position: relative;
  width: 52px;
  height: 68px;
  background: #ffffff;
  border: 1px solid #aeaeae;
  z-index: 8;
  border-radius: 10px;}
.rectangle-5 {
  flex-shrink: 0;
  position: relative;
  width: 53px;
  height: 68px;
  background: #ffffff;
  border: 1px solid #aeaeae;
  z-index: 7;
  border-radius: 10px;}
.rectangle-6 {
  flex-shrink: 0;
  position: relative;
  width: 53px;
  height: 68px;
  background: #ffffff;
  border: 1px solid #aeaeae;
  z-index: 6;
  border-radius: 10px;}
.flex-row-f {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 160px;
  height: 19px;
  margin: 8px 0 0 263px;
  z-index: 4;}
.resend {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 58px;
  height: 19px;
  color: #21aae1;
  font-family: Vazirmatn, var(--default-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 18.75px;
  text-align: center;
  white-space: nowrap;
  z-index: 4;}
.code-receive {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 98px;
  height: 19px;
  color: #000000;
  font-family: Vazirmatn, var(--default-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 18.75px;
  text-align: center;
  white-space: nowrap;
  z-index: 3;}
.rectangle-7 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 327px;
  height: 54px;
  margin: 29px 0 0 110px;
  background: #21aae1;
  z-index: 13;
  border-radius: 10px;}
.login {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 40px;
  height: 34px;
  color: #ffffff;
  font-family: Vazirmatn, var(--default-font-family);
  font-size: 22px;
  font-weight: 700;
  line-height: 34px;
  text-align: center;
  white-space: nowrap;
  z-index: 13;}
.empty {
  position: absolute;
  width: 1442px;
  height: 729px;
  top: 0;
  left: -2px;
  background: url(./assets/images/381e14cc7f73e3a4353588b66483078250824b06.png)
    no-repeat center;
  background-size: cover;
  filter: blur(7.5px);}
